ACTION=="bind", SUBSYSTEM=="usb", ENV{ID_MODEL}=="Controller", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/avtr/.Xauthority" RUN+="/home/avtr/.config/dunst/udev-notifications/udev-notify-joystick connected"

ACTION=="remove", SUBSYSTEM=="input", ENV{ID_MODEL}=="Controller", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/avtr/.Xauthority" RUN+="/home/avtr/.config/dunst/udev-notifications/udev-notify-joystick disconnected"
