ACTION=="change", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_NAME}=="ADP0", ENV{POWER_SUPPLY_ONLINE}=="1", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/avtr/.Xauthority" RUN+="/home/avtr/.config/dunst/udev-notifications/udev-notify-battery charging"

ACTION=="change", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_NAME}=="ADP0", ENV{POWER_SUPPLY_ONLINE}=="0", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/avtr/.Xauthority" RUN+="/home/avtr/.config/dunst/udev-notifications/udev-notify-battery discharging"
